html, body {
    height: 100%;
    margin: 0;
}
.leaflet-container {
    height: 100%;
    width: 100%;
}
#track {
    height: 100%;
    display: flex;
}
input {
    position: absolute;
    z-index: 20000;
    bottom: 10px;
    left: 10px;
    right: 10px;
    
}